APP_NAME=DrKinjal
APP_ENV=local
APP_KEY=base64:6eUv9ieXiIt2Wv/4EJanC3qsQEYIybdlH1aL3tGrR0s=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=drkinjal
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=support@drkinjal.in
MAIL_PASSWORD="Qo^JMrT7*"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="support@drkinjal.in"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


# Razorpay
RAZORPAY_KEY_ID=rzp_live_S5Gk0MHIRKR0gE
RAZORPAY_KEY_SECRET=tZAyLYD0Ndc2L37OqL25G8Nx

# Shiprocket
SHIPROCKET_EMAIL=vivekadhia.0705@gmail.com
SHIPROCKET_PASSWORD=JiihhNT9*Z2seBD18&bDwBoJadQs1#tK
SHIPROCKET_PICKUP_PINCODE=360005
SHIPROCKET_PICKUP_ADDRESS="Golden Club A, 401-402, Nirmala Road"
SHIPROCKET_PICKUP_CITY="Rajkot"
SHIPROCKET_PICKUP_STATE="Gujarat"
SHIPROCKET_PICKUP_COUNTRY="IN"
SHIPROCKET_PICKUP_PHONE="9428289077"
SHIPROCKET_PICKUP_LOCATION="Abha Clinic PRIMARY"


# Shipping Methods
# FREE_SHIPPING_MIN_AMOUNT=999
# STANDARD_SHIPPING_COST=50
# EXPRESS_SHIPPING_COST=199
# OVERNIGHT_SHIPPING_COST=499

# App Settings
APP_CURRENCY=INR
# TAX_RATE=18


VITE_APP_NAME="${APP_NAME}"
